In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [5]:
df = pd.read_csv("dataset/train.csv", usecols=["Age", "Fare", "Survived"])

In [6]:
df.dropna(inplace=True)

In [7]:
df.sample(5)

     Survived   Age     Fare
33          0  66.0  10.5000
810         0  26.0   7.8875
357         0  38.0  13.0000
43          1   3.0  41.5792
342         0  28.0  13.0000

In [9]:
X = df.drop("Survived", axis="columns")

In [10]:
y = df["Survived"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
kbin_age = KBinsDiscretizer(n_bins=5, encode="ordinal", strategy="kmeans")
kbin_fare = KBinsDiscretizer(n_bins=5, encode="ordinal", strategy="kmeans")

In [15]:
trf = ColumnTransformer(
    [

        ("first", kbin_age, [0]),
        ("second", kbin_fare, [1])
    ]
)

In [16]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)