In [11]:
import numpy as np
import pandas as pd

In [12]:
date = pd.read_csv("dataset/orders.csv")
time = pd.read_csv("dataset/messages.csv")

In [13]:
date.sample(5)

           date  product_id  city_id  orders
42   2018-11-02        1439       25       1
260  2019-02-04        4483       25       1
914  2019-08-12        4908       14       4
437  2019-08-04        2830       14      21
79   2019-05-17         420       26       1

In [14]:
time.sample(5)

                    date                                                msg
103  2013-03-07 00:09:00               я М ищу Д замужн0634733074Днепр СМС.
41   2013-02-23 00:53:00              Полная девушка ищет парня. 0635923435
398  2012-11-29 00:12:00  Бесит  что не умею говорить \нет\" там  где ст...
249  2015-08-22 00:18:00          Мужчина 45позн.с жен.для всего 0663602003
497  2013-11-30 00:24:00  Разочаровалась в мужчинах! теперь мне все ранв...

In [15]:
date["date"] = pd.to_datetime(date["date"])

In [16]:
time["date"] = pd.to_datetime(time["date"])

In [17]:
date['date_year'] = date['date'].dt.year

In [18]:
date['date_month'] = date['date'].dt.month