In [16]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv("dataset/Social_Network_Ads.csv")

In [18]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [19]:
df.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
158  15762605    Male   26            30000          0
140  15807909    Male   19            85000          0
174  15644296  Female   34            72000          0
144  15622833  Female   34            25000          0
316  15667417  Female   54           104000          1

In [20]:
df = df.drop(["Gender","User ID"],axis="columns")

In [21]:
df.sample(5)

     Age  EstimatedSalary  Purchased
181   31            71000          0
351   37            75000          0
271   59            76000          1
160   32           100000          1
370   60            46000          1

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(
    "Purchased", axis="columns"), df["Purchased"], test_size=0.3, random_state=0)

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler = StandardScaler()

In [26]:
scaler.fit(X_train)

StandardScaler()

In [27]:
X_train_scaled = scaler.transform(X_train)

In [28]:
X_test_scaled = scaler.transform(X_test)